body{
  margin: 0;
  background: #303030;
  color:white;
}

.title{
  margin-top: 50px;
  text-align: center;
}

.sub-title{
  margin-top: 10px;
  text-align: center;
}

.startBtn{
  text-decoration-line: none;
  text-align: center;
}

.locker-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  max-width: 500px;
  margin: 20px auto;
  padding: 0 15px; /* 좌우에 15px의 패딩 추가 */
  color:#303030;
}

.locker-cell {
  aspect-ratio: 1 / 1;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.locker-cell.reserved {
  background-color: #d16363;
  color: white;
}
.locker-cell.non-reserved{
  background-color: rgba(82, 253, 94, 0.796);
  color: white;
}
.reservation-info {
  font-size: 0.8em;
  margin-top: 5px;
}

.linkto{
  text-decoration-line: none;
  color: #303030;
}

.reservingBtn {
  display: block;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reservingBtn:hover {
  background-color: #45a049;
}

.startBtn {
  display: block;
  width: fit-content;
  margin: 20px auto;
  text-decoration: none;
}

.startBtn div {
  padding: 10px 20px;
  background-color: #2196F3; /* 파란색 배경 */
  color: white;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.startBtn div:hover {
  background-color: #1976D2; /* 호버 시 약간 어두운 파란색 */
}

.reserving-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #4c4c4c;
  color: white;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="date"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.date-inputs {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.date-inputs label {
  width: 48%;
}

.date-inputs input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

button[type="submit"] {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.error-message{
  margin: 0 auto;
  color: rgb(255, 53, 53);
  font-weight: bold;
}